{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Chats{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}





    <div class="chats_list_space" >
        <div class="chats_list_space_name">
            <h1>Найди свой чат!</h1>
        </div>
        <div class="auth_block_space_chat">
            <div class="profile_card">
                <div class="auth_block_chat">
                    <div class="chats_space_overflow">
                        <div class="search_chat_space">
                            <form action="{% url 'chats_search' %}" method="get">
                                <label  for="search_chat">
                                    <input class="label_search_chat" name="search" type="text" id="search_chat">
                                </label>
                                <button class="chat_search_button" type="submit"><svg class="arrow-3-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                    <g fill="none" stroke="#FF0060" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                                        <circle class="arrow-3-iconcircle" cx="16" cy="16" r="15.12"></circle>
                                        <path class="arrow-3-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                                    </g>
                                </svg>
                                </button>
                            </form>
                        </div>

                        <div class="chats_div">

                            {% for chat in chats %}
                            <div class="chat_space">
                                <a href="{% url 'chat' chat.id %}"><h2>{{ chat.title }}</h2></a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-container-wrapper">
        <div class="popup-container1">
            <div class="popup-content1">
                <span class="close" id="add-close1">&times;</span>
                <div class="container_tab">
                    <div class="tab">
                        <div class="tab-content" id="content-1">
                            {% if table.get_friends_no == 0 %}
                            <h5>Список пуст</h5>
                            {% else %}
                            <div class="friends_1">
                                {% for obj in qs1 %}

                                {% if obj.user in friends_list %}
                                <div class="segment1">
                                    <div class="grid1">
                                        <div class="row1">
                                            <div class="column1">
                                                <img class="ui small circular image"
                                                     style="min-width: 5rem; min-height: 5rem; max-width: 5rem; max-height: 5rem; clip-path: circle();"
                                                     src={{obj.avatar.url}}
                                                     onerror="this.src='media/profile_images/avatar_site.jpg';">
                                            </div>
                                            <div class="column2">
                                                <h5>{{ obj.user.first_name }}</h5>
                                                <h5>{{ obj.user }}</h5>
                                                <h5>{{ obj.hobbies }}</h5>

                                                <a href={{ obj.get_absolute_url }}>
                                                    <button type="submit" class="btn btn-1 btn-sep">
                                                        <span class="material-symbols-outlined btn-icon">visibility</span>
                                                        Посмотреть профиль
                                                    </button>
                                                </a>


                                                {% if request.user in obj.friends.all %}
                                                <form action="remove_friend" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value={{obj.pk}}>

                                                    <button class="reject_friend addFriend btn btn-3 btn-sep" type="submit">
                                                        <span class="material-symbols-outlined btn-icon">person_remove</span>
                                                        Удалить из друзей
                                                    </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="tab-content" id="content-2">
                            {% if is_empty_f %}
                            <h5>Список пуст</h5>
                            {% else %}
                            <div class="friends_1">
                                {% for obj in qs %}
                                <div class="segment1">
                                    <div class="grid1">
                                        <div class="row1">
                                            <div class="column1">
                                                <img class="ui small circular image"
                                                     style="min-width: 5rem; min-height: 5rem; max-width: 5rem; max-height: 5rem; clip-path: circle();"
                                                     src={{obj.avatar.url}}
                                                     onerror="this.src='media/profile_images/avatar_site.jpg';">
                                            </div>
                                            <div class="column2">
                                                <h5>{{ obj.user.first_name }}</h5>
                                                <h5>{{ obj.user }}</h5>
                                                <h5>{{ obj.hobbies }}</h5>

                                                <a href={{ obj.get_absolute_url }}>
                                                    <button type="submit" class="btn btn-1 btn-sep">
                                                        <span class="material-symbols-outlined btn-icon">visibility</span>
                                                        Посмотреть профиль
                                                    </button>
                                                </a>


                                                <form action="{% url 'accept_invite' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                                    <button type="submit" class="submit_friend btn btn-2 btn-sep"><span
                                                            class="material-symbols-outlined btn-icon">
                                                        done
                                                    </span>
                                                        Принять
                                                    </button>
                                                </form>

                                                <form action="{% url 'reject_invite' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                                    <button type="submit" class="reject_friend btn btn-3 btn-sep"><span
                                                            class="material-symbols-outlined btn-icon">
                                                        close
                                                    </span>
                                                        Отклонить
                                                    </button>

                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="tab-content" id="content-3">


                            {% if is_empty %}
                            <h1>Список пуст</h1>
                            {% endif %}
                            <div class="friends_1">
                                {% for obj in qs1 %}
                                <div class="segment1">
                                    <div class="grid1">
                                        <div class="row1">
                                            <div class="column1">
                                                <img class="ui small circular image"
                                                     style="min-width: 5rem; min-height: 5rem; max-width: 5rem; max-height: 5rem; clip-path: circle();"
                                                     src="{{ obj.avatar.url }}"
                                                     onerror="this.src='media/profile_images/avatar_site.jpg';">
                                            </div>
                                            <div class="column2">
                                                <h5>{{ obj.user.first_name }}</h5>
                                                <h5>{{ obj.user }}</h5>
                                                <h5>{{ obj.hobbies }}</h5>

                                                <a href={{ obj.get_absolute_url }}>
                                                    <button type="submit" class="btn btn-1 btn-sep">
                                                        <span class="material-symbols-outlined btn-icon">visibility</span>
                                                        Посмотреть профиль
                                                    </button>
                                                </a>

                                                {% if obj.user not in rel_receiver and obj.user not in rel_sender %}
                                                <form action="{% url 'send_invite' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value={{obj.pk}}>

                                                    <button class="addFriend btn btn-2 btn-sep" type="submit">
                                                        <span class="material-symbols-outlined btn-icon">person_add</span>
                                                        Добавить в друзья
                                                    </button>

                                                </form>
                                                {% endif %}

                                                {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                                                <button class="waitingApp btn btn-4 btn-sep" type="submit">
                                                    <span class="material-symbols-outlined btn-icon">schedule</span>
                                                    Ожидает подтверждения
                                                </button>

                                                {% endif %}

                                                {% if request.user in obj.friends.all %}
                                                <form action="remove_friend" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value={{obj.pk}}>

                                                    <button class="addFriend btn btn-3 btn-sep" type="submit">
                                                        <span class="material-symbols-outlined btn-icon">person_remove</span>
                                                        Удалить из друзей
                                                    </button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>

                        <div class="tab-nav">
                            <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
                            <label for="tab-btn-1">Список друзей</label>
                            <input id="tab-btn-2" name="tab-btn" type="radio" value="">
                            <label for="tab-btn-2">Полученные заявки</label>
                            <input id="tab-btn-3" name="tab-btn" type="radio" value="">
                            <label for="tab-btn-3">Добавить в друзья</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="auth_logo">
        <h1>Авторизация</h1>
    </div>

    <div class="auth_block_space">
        <div class="auth_block">
            <div class="label_intro_text"> <h1>Лучший сайт по поиску людей со схожими <mark class="interest_label">интересами!</mark></h1>
                <p>Зарегестрируйтесь, чтобы продолжить</p>
            </div>

            <div class="auth_block_button">
                <a href="{% url 'register' %}">
                    <div class="register_button">Регистрация</div>
                </a>
                <a href="{% url 'login' %}">
                    <div class="register_button">Вход</div>
                </a>
            </div>
        </div>
    </div>


    {% endif %}

    <!--<script>-->
    <!--        document.getElementById('search_chat').addEventListener('input', function() {-->
    <!--            clearTimeout(this.timer);-->
    <!--            this.timer = setTimeout(function() {-->
    <!--                document.getElementById('searchForm').submit();-->
    <!--            }, 500);-->
    <!--        });-->

    <!--</script>-->

    <script>
        const popup = document.querySelector(".popup-container-wrapper");


        // Функция для отображения всплывающего окна 1
        function showPopup1() {
            const popupContainer1 = document.querySelector('.popup-container1');
            const popupContent1 = document.querySelector('.popup-content1');
            popupContainer1.style.display = 'flex';

            // Выполнение анимации появления окна с помощью requestAnimationFrame
            requestAnimationFrame(() => {
                popupContainer1.classList.add('active');
                popupContent1.style.opacity = 1;
                popupContent1.style.transform = 'scale(1)';
            });
        }

        function isClickInsidePopup1(event) {
            const popupContainer1 = document.querySelector('.popup-container');
            return popupContainer1.contains(event.target);
        }

        // Функция для скрытия всплывающего окна
        function hidePopup1() {
            const popupContainer1 = document.querySelector('.popup-container1');
            const popupContent1 = document.querySelector('.popup-content1');
            popupContainer1.classList.remove('active');
            popupContent1.style.opacity = 0;
            popupContent1.style.transform = 'scale(0.8)';

            // Задержка для завершения анимации перед скрытием окна
            setTimeout(() => {
                popupContainer1.style.display = 'none';
            }, 300); // Время анимации в миллисекундах, должно соответствовать времени анимации в CSS (0.3s)
        }
        hidePopup1();
        // Обработчик событий для кнопок "Редактировать"
        document.querySelectorAll('.friends').forEach((button) => {
            button.addEventListener('click', (event) => {
                event.stopPropagation();
                showPopup1();
            });
        });



        // Обработчик события для закрытия pop-up окна при клике на кнопку закрытия
        document.getElementById("add-close1").addEventListener("click", function() {
            hidePopup1();
        });




    </script>


    {% endblock %}
